#article .contents_style h3 {
    width : 100%;
    position : relative;
}

#article .contents_style h3::before {
    content: ' ';
    height: 2px;
    position: absolute;
    width: 100%;
    bottom : -20px;
    background-image : linear-gradient(to right, #ff7394, #766cff);
}

#article .contents_style h2 a {
    font-size : 1.8em !important;
}

#article .contents_style h3 a {
    color : black !important;
    font-size : 1.6em !important;
}

#article .contents_style h4 a {
    font-size : 1.4em !important;
}